@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background: #000;
  scroll-behavior: auto;
  font-family: "Orbitron", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.headline {
  font-family: "Orbitron", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 10vw;
}

.inset {
  position: absolute;
  inset: 0;
}
.white {
  color: white;
}
.gray {
  color: #446;
}

.full {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}
